<style>
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 1px!important;
        background: #94a5e194;
        border-radius: 10px;
        font-size: large;
    }
    select::-ms-expand{
        display: none;
    }
    .select{
        padding-top: 5px;
    }

</style>

<header id="header" class="header">
    <div class="header-menu">
        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
        </div>
    </div>
</header>
